# Entornos virtuales
entorno/
venv/
env/

# Variables sensibles
.env

# Archivos temporales
uploads/
static/uploads/
static/generated/
static/tmp_downloads/
tmp_downloads/

# Cache de Python
__pycache__/
*.pyc

# Logs
*.log
debug_*.txt
demucs_wrapper_log.txt

# Archivos del sistema
.DS_Store
Thumbs.db
